extends ../layout.jade
block content
  .container
    h2.row Change your password
    form(class="form col-md-6",id="pwd_change")
      .form-group
        label(for="old_pwd") Old Password :
        input(class="form-control", type="password", name="old_pwd", id="old_pwd", required=true)
      .form-group
        label(for="new_pwd") New Password :
        input(class="form-control", type="password", name="new_pwd", id="new_pwd", required=true)
      .form-group
        label(for="conf_pwd") Confirm Password :
        input(class="form-control", type="password", name="conf_pwd", id="conf_pwd", required=true)
      
      input(type="text", name="id", id="user_id", value=user.id, hidden=true, required=true)

      input(class="btn btn-success" type="button", value="CHANGE PASSWORD", onclick="user.changePassword()")
      span &nbsp;&nbsp;&nbsp;
      a.btn.btn-danger(href="/user/" + user.id) CANCEL
      p