extends ../layout.jade
block content
  .container
    h2.row Edit blog
    form(class="form",id="edit")
      .form-group
        label(for="title") Title :
        input(class="form-control", type="text", name="title", id="title", required=true, value=blog.title)
      .form-group
        label(for="tags") Tags :
        select(class="form-control", id="tags", name="tags", required=true, multiple=true)
          -var selected_tags = []
          -each tag in blog.tags
            -selected_tags.push(tag.id)
            option(value=tag.id, selected=true)= tag.tag
          -each tag in tags
            -if(selected_tags.indexOf(tag.id) < 0)
              option(value=tag.id)= tag.tag

      .form-group
        label(for="content") Content :
        textarea(class="form-control", style="resize:vertical", rows="15", name="content", id="content", required=true)!= blog.content
      
      input(type="text", name="author", id="author", value=blog.author.id, hidden=true, required=true)
      input(type="text", name="blog", id="blog", value=blog.id, hidden=true, required=true)

      input(class="btn btn-success" type="button", value="UPDATE", onclick="blog_obj.update()")
      span &nbsp;&nbsp;&nbsp;
      a.btn.btn-danger(href="/blogs/" + blog.id) CANCEL
      p