extends ../layout.jade
block content
  -if(blog)
    .container
      h2= blog.title
      hr
      .container(style="padding-left:20px")
        em= "By " + blog.author.name
        p
        p(style="border: 1px solid #ccc; border-radius:5px; padding:7px")= blog.content

        -if(comments)
          h4 Comments
          .container(style="margin-left:10px")
            -each comment in comments
              blockquote
                p(style="font-size:16px")= comment.message
                p
                  small!= "By <em>" + comment.user.name + "</em>"
        -if(req.user)
          h4 Leave a comment
          .container
            form(method="post", action="/comment/post")
              textarea(class="", style="resize:vertical", rows="3", cols="75", name="message")
              p
              input(type="text", name="blog", value=blog.id, hidden=true)
              input(type="text", name="user", value=req.user.id, hidden=true)
              input(type="submit", class="btn btn-xs btn-primary", value="POST COMMENT") 